<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
</head>
<body>
    <!-- NAVBAR -->
    <div>
        <nav>
            <a href="../signup/signup.html">SIGNUP</a>
            <a href="../login/login.html">LOGIN</a>
            <a href="../update/update.html">UPDATE</a>
            <a href="../delete/delete.html">DELETE</a>
        </nav>
    </div>
    <h1>LOGIN PAGE</h1>
    <!-- LOGIN USER -->
    <div class="container">
        <form action="">
            <div class="form-group">
                <input id="login-email" type="text" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <input id="login-password" type="text" placeholder="Enter Password">
            </div>
            <div class="form-group">
                <input id="login-btn" class="btn btn-success" type="submit" value="LOGIN">
            </div>
        </form>
    </div>
    <br>
    <br>
    <div id="login-disp"></div>

    <!-- SCRIPT FILE -->
    <script src="./login.js"></script>
</body>
</html>