<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap.min.css">
    <title>Accounts</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">HOME</a>
            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link active" href="../signup/signup.html">SIGNUP
                    <span class="visually-hidden">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="../login/login.html">LOGIN
                    <span class="visually-hidden">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="../update/update.html">UPDATE</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="../delete/delete.html">DELETE</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <h1 style="text-align: center; font-size: 4em;">UPDATE PAGE</h1>
    <!-- UPDATE USER -->
    <div class="container">
        <form action="">
            <fieldset>
                <div class="form-group">
                    <label class="form-label mt-4">Email address</label>
                    <input class="form-control" id="update-email" type="email" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Old Password</label>
                    <input class="form-control" id="update-o-password" type="password" placeholder="Enter Old Password">
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">New Password</label>
                    <input class="form-control" id="update-n-password" type="password" placeholder="Enter New Password">
                </div>
            </fieldset>
            <br>
                <div>
                    <button id="update-btn" type="submit" class="btn btn-primary">UPDATE</button>
                </div>
        </form>
    </div>
    <br>
    <br>
    <div id="update-disp"></div>

    <!-- SCRIPT FILE -->
    <script src="./update.js"></script>
</body>
</html>