<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Accounts</title>
</head>
<body>
    <h1 style="text-align: center; font-size: 5em;">WELCOME TO OUR SITE</h1>
    <h4 style="text-align: center; font-size: 3em">PLEASE CLICK ON THE BUTTON BELOW TO SIGNUP</h2>
    <br>
    <p style="font-size: 1.5em;">FOR USERS ONLY</p>
    <a class="btn btn-primary" href="../view/signup/signup.html">SIGNUP</a>
    <br>
    <hr>
    <br>
    <p style="font-size: 1.5em;">FOR ADMIN ONLY</p>
    <a class="btn btn-primary" href="../view/admin/admin.html">ADMIN</a>
</body>
</html>